<div class="pagination" role="navigation">
	<small>
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Nuevos Posts</a>
    {{/if}}
    <span class="page-number">Pagina {{page}} de {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Antiguos Posts &rarr;</a>
    {{/if}}
    </small>
</div>
